# Virtual environment
venv/

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# macOS
.DS_Store

# Class notebooks 
notebooks_class/*
!notebooks_class/.gitkeep

# John's paper
SIFT_paper/*
!SIFT_paper/.gitkeep